/*
Error: Invalid CSS after "#f00": expected expression (e.g. 1px, bold), was ";"
        on line 1 of text.sass

1: $color:#f00;
2: 
3: 
4: 
5: 
6: //sass text.sass:text.css

Backtrace:
text.sass:1
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/script/lexer.rb:229:in `expected!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/script/parser.rb:744:in `assert_done'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/script/parser.rb:76:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/script/parser.rb:240:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/script.rb:27:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:1159:in `parse_script'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:765:in `parse_variable'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:650:in `parse_line'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:539:in `build_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:558:in `block in append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:557:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:557:in `append_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:412:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#f00\": expected expression (e.g. 1px, bold), was \";\"\A         on line 1 of text.sass\A \A 1: $color:#f00;\A 2: \A 3: \A 4: \A 5: \A 6: //sass text.sass:text.css"; }
