#header{
    height: 30px;
    background: #f2f2f2;
    font-size: 12px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height:32px;
}

.login-info span,.login-info a,.quick-menu a{
    color: #999;
}

/*父元素login-info*/
.login-info{
    float: left;
}

.login-info span,.login-info a{
    padding-left: 12px;
}

.login-info a:hover {
    color: #f00036;
}

/*父元素quick-menu*/
.quick-menu{
    float: right;
}

.quick-menu .menu{
    float:left;
    padding:0 14px;
}

.quick-menu a:hover{
    color: #f00036;
}

.quick-menu .iconfont {
    font-size: 12px;
    color: #f00036;
}

.quick-menu .white:hover{
    background: #ffffff;
    border:1px solid #cccccc;
}

.quick-menu .white{
    position:relative;
}

.quick-menu .arrows{
    width: 0;
    height: 0;
    border-style:solid;
    border-width: 3px;
    border-color: #bbbbbb transparent transparent transparent;
    position:absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 4px;
}

/*子元素buy*/
.quick-menu .white .buy{
    display: none;
}

.quick-menu .white:hover .buy{
    display: block;
}

/*购物车*/
body{
    height: 2000px;
}

#shopping{
    font-size: 12px;
    text-align: center;
    width: 35px;
    height: 100px;
    background: #000000;
    position:fixed;
    top:100px;
    right:0;
}

/*#shopping:hover{*/
    /*color:#f00036;*/
/*}*/

#shopping i{
    width:35px;
    height:35px;
    color:#f00036;
    display: block;
}

#shopping i:hover{
    color: #ffffff;
}

#shopping a{
    width:20px;
    height:50px;
    color: #ffffff;
    display: block;
    padding-left:8px;
}

/*headerlayout*/
#headerlayout{
    height: 100%;
}

/*父元素photo*/
#headerlayout .photo img{
    width: 240px;
    height: 130px;
    float:left;
}

/*父元素search*/
#headerlayout .search{
    float:left;
    margin-top: 30px;
    position:sticky;
    top:0;
}

#headerlayout .keyword{
    width: 286px;
    height: 26px;
    border: 2px solid #f00036;
}

#headerlayout .keyword{
    font-size:16px;
}

#headerlayout .button{
    width: 132px;
    height: 30px;
    background: #ff0036;
    text-align:center;
}

#headerlayout .button a{
    font-size:18px;
    color:#fff;
}

/*子元素goods*/
#headerlayout .keyword .goods{
    float: left;
    margin-top:5px;
    padding-left:4px;
    padding-right:4px;
    border-right:1px solid #ccc;
}

#headerlayout .keyword .goods a{
    font-size:13px;
    /*text-align:center;*/
}

#headerlayout .keyword .goods a:hover{
    color:#f00036;
}