#header{
    height: 30px;
    background: #f2f2f2;
    font-size: 12px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    line-height:32px;
}

.login-info span,.login-info a,.quick-menu a{
    color: #999;
}

/*父元素1*/
.login-info{
    float: left;
}

.login-info a{
    padding-left: 12px;
}

.login-info a:hover {
    color: #f00036;
}

/*父元素2*/
.quick-menu{
    float: right;
}

.quick-menu .menu{
    float:left;
    padding:0 14px;
}

.quick-menu a:hover{
    color: #f00036;
}

.quick-menu .iconfont {
    font-size: 12px;
    color: #f00036;
}

.quick-menu .white:hover{
    background: #ffffff;
    border:1px solid #cccccc;
}

.quick-menu .white{
    position:relative;
}

.quick-menu .arrows{
    width: 0;
    height: 0;
    border-style:solid;
    border-width: 3px;
    border-color: #bbbbbb transparent transparent transparent;
    position:absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 4px;
}

/*子元素*/
.quick-menu .white .buy{
    display: none;
}

.quick-menu .white:hover .buy{
    display: block;
}

