<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
    <style>
        .red{
            background: #f00;
        }
    </style>
<body>
    <div id="app">
        <h1 class='text-center'>todolist</h1>
        
        <form class="form-inline text-center">
            <div class="form-group">
                <label for="exampleInputName2"></label>
                <input type="text" class="form-control" v-model='searchName' id="exampleInputName2" placeholder="请输入商品名称">
            </div>
            <button type="submit" class="btn btn-default" @click.prevent='filProduct'>过滤</button>
        </form>
        
        <form class="form-inline text-center">
            <div class="form-group">
                <label for="exampleInputName2">商品名称</label>
                <input type="text" class="form-control" v-model='proName' id="exampleInputName2" placeholder="请输入商品名称">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">商品价格</label>
                <input type="email" class="form-control" v-model='proPrice' id="exampleInputEmail2" placeholder="请输入商品价格">
            </div>
            <button type="submit" class="btn btn-default" @click.prevent='add()'>添加</button>
        </form>

        <!-- <input type="text" class="form-control " placeholder="请输入商品名称">
        <button class="btn btn-default glyphicon glyphicon-search" type="submit">搜索</button> -->

        <table class="table table-bordered text-center">
            <thead>
                <td>选择</td>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>删除</td>
            </thead>
            <tbody>
                <!-- key是唯一标识 -->
                <tr v-for='(item,index) in showList' :key='item.id' @click='toggle(item.id)' :class='{red:item.isRed}'>
                    <td><label><input type="checkbox" v-model="item.isRed"></label></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button type="button" class="btn btn-warning glyphicon glyphicon-remove btn-xs" @click.stop="del(item.id)"></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-danger btn-xs" @click='delChecked'>删除选中</button></td>
                    <!-- <td colspan="3">总价是:{{total()}}元</td> -->
                    <td colspan="3">总价是:{{total}}元</td>
                </tr>       
            </tbody>
        </table>
    </div>

    <script src="vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                productList: [
                    {
                        name: '衣服',
                        price: 200,
                        isRed:false,
                        id:1,
                    }, {
                        name: '裤子',
                        price: 100,
                        isRed:false,
                        id:2,
                    }, {
                        name: '鞋',
                        price: 500,
                        isRed:false,
                        id:3
                    }, {
                        name: '手机',
                        price: 5000,
                        isRed:false,
                        id:4
                    }, {
                        name: '包',
                        price: 1000,
                        isRed:false,
                        id:5
                    },
                ],
                showList: [
                    {
                        name: '衣服',
                        price: 200,
                        isRed:false,
                        id:1,
                    }, {
                        name: '裤子',
                        price: 100,
                        isRed:false,
                        id:2,
                    }, {
                        name: '鞋',
                        price: 500,
                        isRed:false,
                        id:3
                    }, {
                        name: '手机',
                        price: 5000,
                        isRed:false,
                        id:4
                    }, {
                        name: '包',
                        price: 1000,
                        isRed:false,
                        id:5
                    },             
                ],
                proName:'',
                proPrice:'',
                searchName:'',
                count:5
            },
            methods:{
                // 增加
                add(){ 
                    this.productList.push({ //js push()向数组的末尾添加一个或更多元素，并返回新的长度。
                        name:this.proName,
                        price:this.proPrice,
                        isRed:false,
                        id:Symbol()
                    })   
                    this.showList = [...this.productList];
                },
                //变色
                toggle(id){
                    //item.isRed = !item.isRed;
                    // let toggleList = this.productList.map(function(obj,index){
                    //     if(obj.id == id){ //id相同
                    //         obj.isRed = !obj.isRed;
                    //     }
                    //     return obj;
                    // })
                    // this.productList = [...toggleList];
                    // this.showList = [...toggleList];
                    //forEach 循环 map 循环 映射新数组 return 
                    this.showList.forEach(function(obj,index){
                        if(obj.id == id){
                            obj.isRed = !obj.isRed;
                        }
                    });
                },
                //全选删除
                delChecked(){
                    let arr = this.productList.filter(function(obj,index){
                        //返回过滤出的isRed属性值为false
                        return !obj.isRed;
                    });
                    this.productList = [...arr];
                    this.showList = [...arr];
                },
                //小删除
                del(id){
                    let delList = this.productList.filter(function(obj,index){
                        return obj.id != id;
                    });
                    this.productList = [...delList];
                    this.showList = [...delList];
                },
                //搜索
                filProduct(){
                    //过滤商品存在searchList
                    //filter过滤出的新数组对象 跟原数组productList中的寸的对象 指向同一堆内存
                    let searchList = this.productList.filter((obj,index) => {
                        return obj.name.includes(this.searchName)
                    });
                    this.showList = [...searchList];
                    this.searchName = '';
                }
            },
            //计算属性
            computed:{ 
                    total(){
                        let sum = 0;
                        this.productList.forEach(function(obj,index){
                            if(obj.isRed){
                                sum += obj.price;
                            }
                        })
                        return sum;
                    },
                },
        })
    </script>
</body>

</html>