<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 循环 -->
        <div v-for='(obj,index) in arr'> 
            {{obj}} {{index}}
        </div>
        <div v-for='obj in listSort'>
            {{obj.name}} {{obj.age}}
            <button @click = 'isShow(obj.name)'>show</button>
            <button @click='isShow(obj)'>show</button>            
        </div>
        <div v-for='obj in cat'>
            {{obj}}
        </div>
        <div v-for='(obj,key) in cat'>
            {{obj}} {{key}}
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        // 类 对象
        const vm = new Vue({
            el:'#app',
            data:{
                arr:['mt','hl','ph'],
                list:[
                    {
                        name:'mt',
                        age:1
                    },{
                        name:'hl',
                        age:2
                    },{
                        name:'ph',
                        age:3
                    }
                ],
                cat:{
                    name:'mm',
                    age:4
                }
            },
            computed:{
                listSort(){
                    return this.list.sort((a,b) => {
                        return a.age - b.age;
                    })
                }
            },
            methods:{
                isShow(obj){
                    console.log(obj);
                }
            }
        });
    </script>
</body>
</html>